$red:#9F1501;
$lightCoffee:#D29C77;
$rustRed:#cc6600;
$darkRed:#6C0F00;
$lightRed:#520B00;
$white:#FFFAF6;
$coffee:#9F460B;

$main-font-color:$darkRed;

#results {
  color: $main-font-color;
}

.tab-bar-section {
  text-align: center;
}

