<div class="row">
<div class="small-3 columns noMobile">{{type}}</div>
  <div class="small-3 columns text-center noMobile">{{fileExtension}}</div>
  <div class="small-3 columns mobile">{{description}}</div>
  <div class="small-3 columns text-center noMobile">{{supported}}</div>
</div>
