
<div class="row">
  <div class="small-4 columns text-center noMobile">Type  <button class="button tiny" id="sort" data-type="type">Sort</button></div>
  <div class="small-2 columns text-center noMobile">File  <button class="button tiny" id="sort" data-type="fileExtension">Sort</button></div>
  <div class="small-4 columns text-center mobile">Description  <button class="button tiny" id="sort" data-type="description">Sort</button></div>
  <div class="small-2 columns text-center noMobile"></br>Supported</div>
</div>



