<div class="row">
  <div class="large-3 columns">{{type}}</div>
  <div class="large-3 columns text-center">{{fileExtension}}</div>
  <div class="large-3 columns">{{description}}</div>
  <div class="large-3 columns text-center">{{supported}}</div>
</div>
